
body{
  height: 100vh;
}
.container{
  height: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.toDoList{

  display: flex;
  flex-direction: column;

}
ul{
  list-style-type: none;
}
 button{
  margin: .3rem;
 }